<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.lucascosti.taptoclick</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>302FF18C-B10A-4CFF-889C-461FC570136D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0387CB66-A358-40DA-8761-7B22989A6EB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F370DFD-1B92-489C-AC55-720C55BBCB96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A2F6F2-6C10-4053-9C91-95777E8B7B48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1CB985B-D0C4-4233-952C-D678A520ADF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>302FF18C-B10A-4CFF-889C-461FC570136D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1A2F6F2-6C10-4053-9C91-95777E8B7B48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0387CB66-A358-40DA-8761-7B22989A6EB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Lucas Costi</string>
	<key>description</key>
	<string>Enable/disable tap to click in system preferences</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tap-to-Click</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tapon</string>
				<key>subtext</key>
				<string>Enable trackpad tap to click</string>
				<key>text</key>
				<string>Tap to click - ON</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7F370DFD-1B92-489C-AC55-720C55BBCB96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>onoroff</key>
					<string>tapon</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C1A2F6F2-6C10-4053-9C91-95777E8B7B48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>-- get the variable
set onoroff to (system attribute "onoroff")
-- open the preference pane
tell application "System Preferences"
  activate
  reveal (pane id "com.apple.preference.trackpad")
end tell
-- set the checkbox according to the action
tell application "System Events"
  tell process "System Preferences"
    tell checkbox 3 of tab group 1 of window "Trackpad"
      repeat until exists (* wait until the object is accessible *)
        delay 0.2
      end repeat
      if value is 0 and onoroff is "tapon" then 
        click
      else if value is 1 and onoroff is "tapoff" then
        click
      end if
    end tell
  end tell
end tell
-- quit the window
tell application "System Preferences"
  quit
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0387CB66-A358-40DA-8761-7B22989A6EB0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tapoff</string>
				<key>subtext</key>
				<string>Disable trackpad tap to click</string>
				<key>text</key>
				<string>Tap to click - OFF</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A1CB985B-D0C4-4233-952C-D678A520ADF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>onoroff</key>
					<string>tapoff</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>302FF18C-B10A-4CFF-889C-461FC570136D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/lucascosti/tap-to-click

This Alfred workflow provides enable/disable actions to control a MacBook trackpad's "tap to click" setting.

This is useful for enabling/disabling the setting using only the keyboard when doing a lot of typing, in order to prevent accidental movements of the cursor.

Credit to Dan Schlosser (https://schlosser.io/lists/must-use-alfred-workflows/) and Evan Kline (https://www.40tech.com/2011/05/17/how-to-quickly-toggle-the-tap-to-click-functionality-of-your-trackpad-mac/) for starting-off ideas.</string>
	<key>uidata</key>
	<dict>
		<key>0387CB66-A358-40DA-8761-7B22989A6EB0</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>302FF18C-B10A-4CFF-889C-461FC570136D</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>7F370DFD-1B92-489C-AC55-720C55BBCB96</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>A1CB985B-D0C4-4233-952C-D678A520ADF6</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>C1A2F6F2-6C10-4053-9C91-95777E8B7B48</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/lucascosti/tap-to-click</string>
</dict>
</plist>
